body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939b7;
}

header {
    padding: 1rem;
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.user-greeting,
.upgrade-button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.user-greeting {
    /* background-color: #e0e8ff; */
    color: #ffffff;
    text-align: center;
}

.upgrade-button1 {
    background-color:#3a3a3a;
    color: #ffffff;
    text-align: center;
}

.upgrade-button {
    background-color:#515151;
    color: #ffffff;
    text-align: center;
}

.upgrade-button2 {
    background-color:#292929;
    color: #ffffff;
    text-align: center;
}

/* New CSS rule to order elements */
.header-container > .upgrade-button {
  order: -1;  /* Move upgrade button before other elements */
}

main {
    padding: 2rem 0;
}

.main-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assistant-name,
.how-can-we-help,
.get-started,
.add-content {
    margin-bottom: 1rem;
    text-align: center;
}

.add-content {
    text-align: right;
}

.how-can-we-help {
    font-size: 0.8rem;
    text-align: left;
    font-weight: lighter;
}

.assistant-name {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
}

.how-can-we-help {
    font-size: 1.5rem;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.action-buttons button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-content {
    font-style: italic;
    color: #999;
}
